<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-for="(coin, index) in bitcoin">{{ coin }}</p>
        <input type="email" name="email" v-model="email">
        <input type="password" name="password" v-model="password">
        <input type="button" @click="login" value="submit">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="vueApp.js"></script>
</body>
</html>